<section class="hero app-background is-bold is-fullheight is-relative">
  <div class="hero-head">
    <app-header></app-header>
  </div>

  <div class="hero-body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="hero-foot">
    <footer class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-unselectable" (click)="changeLanguage()">
            <span class="icon-text">
              <app-icon>language</app-icon>
              <span class="ml-2">{{ notActiveLanguageLabel }}</span>
            </span>
          </a>
        </div>
      </div>
    </footer>
  </div>

  <app-loader></app-loader>
</section>
