<section class="hero app-background is-bold is-fullheight is-relative">
  <div class="hero-head">
    <app-header></app-header>
  </div>

  <div class="app-body">
    <router-outlet></router-outlet>
  </div>

  <div class="hero-foot">
    <footer class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-unselectable" (click)="changeLanguage()">
            <span class="icon-text">
              <app-icon>language</app-icon>
              <span class="ml-2">{{ notActiveLanguageLabel }}</span>
            </span>
          </a>
          <a class="navbar-item">
            <span class="icon-text">
              <app-icon>support</app-icon>
              <span class="ml-2">{{ 'help' | transloco | titlecase }}</span>
            </span>
          </a>

          <div class="is-flex ml-auto app-files">
            <a class="navbar-item is-size-7"> О компании </a>
            <a class="navbar-item is-size-7"> Конфиденциальность </a>
            <a class="navbar-item is-size-7"> Соглашение </a>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <app-loader></app-loader>
</section>
